h1.heading {
    text-align: center;
}

table.form_table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 20px;
}

form.register_form {
    text-align: center;

}

input.register_button {
    border-radius: 09px;
    width: 100px;
    height: 25px;
    background-color: #66FFFF;
    font-weight: bold;

}

td.text_col {
    text-align: right;
}

input.text_box {
    max-width: 150px;
    height: 25px;
    border-radius: 5px;

}

td.register_col {
    text-align: center;
}