.heading {
    text-align: center;
}

p.centertext {
    text-align: center;
}

a.button {
    text-align: center;
}

a.button {
    text-align: center;
}

div.login_button_span {
    text-align: center;
    margin: auto;

}

div.register_button_div {
    margin: auto;
    text-align: center;

    border-color: black;
}

a.login_button {
    display: inline-block;
    /* padding: 10px 20px; */
    text-align: center;
    text-decoration: none;
    color: black;
    width: 110px;
    height: 20px;
    border-radius: 6 px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    border: 1px solid black;


}

a.register_button {
    display: inline-block;
    /* padding: 10px 20px; */
    text-align: center;
    text-decoration: none;
    color: black;
    width: 110px;
    height: 20px;
    border-radius: 6 px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 5px;
    border: 1px solid black;
}